*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%
}

#main{
    height:100%;
    width:100;

}

.cards{
    position:absolute;
    top: 50%;
    left:50%;
   transform:translate(-50%,-50%);  /*Ye image ko beech me layega/ */
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;   /* ye image ka border sahi karega*/
    
}

#card1{
    z-index: 4; 
    background-color: aqua;

}

#card2{
    z-index:3;
    rotate: -7deg;
   background-color:  chartreuse; 
}

#card2:hover{
    z-index: 10;
}

#card3{
    z-index: 2;
    background-color: deeppink;
    rotate:-14deg;
}
#card3:hover{
    z-index: 10;
}
#card4{
    z-index: 1;
    background-color: yellow;
    rotate:-21deg;
}
#card4:hover{
    z-index: 10;
}

img{
    height:100%;
    width:100%;
    object-fit:cover; 
}